// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.letters {
  display: inline;
}

.letter {
  display: inline;
  padding: 15px 20px;
  margin: 5px;
  background-color: #2AB7CA;
  color: white;
  font-weight: bold;
}
